In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('~/Downloads/cityPopulationData.csv')

In [3]:
df

,Unnamed: 0,2013,2014,2015,2016,2017,2018,2019
0,"Adelanto city, California","31,206","32,522","32,961","33,249","33,952","34,070","34,049"
1,"Agoura Hills city, California","20,591","20,648","20,740","20,665","20,572","20,411","20,222"
2,"Alameda city, California","76,479","77,509","78,459","79,091","79,037","78,344","77,624"
3,"Albany city, California","19,187","19,434","19,662","19,713","20,076","19,885","19,696"
4,"Alhambra city, California","84,337","84,786","84,843","85,221","84,878","84,373","83,750"
...,...,...,...,...,...,...,...,...
482,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,Release Date: May 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns = ('city', '2013', '2014', '2015', '2016', '2017', '2018', '2019')

In [5]:
df = df.drop([482,483,484,485,486])

In [6]:
df.city = df.city.str.replace(", California", "")

In [7]:
df["2013"] = df["2013"].str.replace(",", "")

In [8]:
df["2014"] = df["2014"].str.replace(",", "")

In [9]:
df["2015"] = df["2015"].str.replace(",", "")

In [10]:
df["2016"] = df["2016"].str.replace(",", "")

In [11]:
df["2017"] = df["2017"].str.replace(",", "")

In [12]:
df["2018"] = df["2018"].str.replace(",", "")
df["2019"] = df["2019"].str.replace(",", "")

In [13]:
df.to_csv("~/Desktop/capstone-project/capstone-accenture/cityPopulationData.csv")

In [14]:
housing = pd.read_csv('~/Downloads/countyHousingDensity.csv')

In [15]:
housing

,Unnamed: 0,2013,2014,2015,2016,2017,2018,2019
0,California,"13,827,794","13,906,691","13,985,614","14,075,264","14,172,348","14,275,353","14,366,336"
1,".Alameda County, California","589,352","592,396","595,760","600,467","605,974","615,030","622,922"
2,".Alpine County, California","1,765","1,764","1,766","1,769","1,770","1,778","1,782"
3,".Amador County, California","18,241","18,239","18,249","18,274","18,318","18,452","18,625"
4,".Butte County, California","96,989","97,517","98,073","98,692","99,438","100,074","86,209"
...,...,...,...,...,...,...,...,...
59,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Annual Estimates of Housing Units for Counties...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Release Date: May 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
housing.columns = ('city', '2013', '2014', '2015', '2016', '2017', '2018', '2019')

In [17]:
housing = housing.drop([59,60,61,62,63])

In [18]:
housing.city = housing.city.str.replace(", California", "")

In [19]:
df["2013"] = df["2013"].str.replace(",", "")
df["2014"] = df["2014"].str.replace(",", "")
df["2015"] = df["2015"].str.replace(",", "")
df["2016"] = df["2016"].str.replace(",", "")
df["2017"] = df["2017"].str.replace(",", "")
df["2018"] = df["2018"].str.replace(",", "")
df["2019"] = df["2019"].str.replace(",", "")

In [20]:
housing.to_csv("~/Desktop/capstone-project/capstone-accenture/countyHousingDensity.csv")