In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:saadia99@localhost/capstone-accenture')

In [3]:
climateFireFrequency = pd.read_sql('SELECT * FROM climateFireFreq', engine)

In [4]:
housing = pd.read_sql('SELECT * FROM housingPopulationCounty', engine)

In [5]:
population = pd.read_sql('SELECT * FROM populationEstimateCity', engine)

In [6]:
housing = housing.rename(columns={'city':'county'})

In [7]:
cleaned_housing = housing.melt(id_vars=["county"], 
        var_name="Year", 
        value_name="Density")

In [8]:
cleaned_population = population.melt(id_vars=["city"], 
        var_name="Year", 
        value_name="Population")

In [9]:
climateFireFrequency = climateFireFrequency.astype({"yearonlyclimate": int})
cleaned_population = cleaned_population.astype({"Year": int})
cleaned_housing = cleaned_housing.astype({"Year": int})

In [10]:
climateFireFrequency = climateFireFrequency.rename(columns={'yearonlyclimate':'Year'})

In [11]:
cleaned_population

                   city  Year  Population
0         Adelanto city  2013     31206.0
1     Agoura Hills city  2013     20591.0
2          Alameda city  2013     76479.0
3           Albany city  2013     19187.0
4         Alhambra city  2013     84337.0
...                 ...   ...         ...
3369    Yountville city  2019      2966.0
3370         Yreka city  2019      7518.0
3371     Yuba City city  2019     67010.0
3372       Yucaipa city  2019     53921.0
3373  Yucca Valley town  2019     21777.0

[3374 rows x 3 columns]

In [12]:
cleaned_housing

               county  Year     Density
0          California  2013  13827794.0
1     .Alameda County  2013    589352.0
2      .Alpine County  2013      1765.0
3      .Amador County  2013     18241.0
4       .Butte County  2013     96989.0
..                ...   ...         ...
408    .Tulare County  2019    151603.0
409  .Tuolumne County  2019     31700.0
410   .Ventura County  2019    291512.0
411      .Yolo County  2019     79263.0
412      .Yuba County  2019     29049.0

[413 rows x 3 columns]

In [13]:
climateFireFrequency

,time,city,county,Year,frequency,2m_temperature,total_precipitation,low_vegetation_cover,high_vegetation_cover,10m_wind_speed,volumetric_soil_water_layer_1,total_cloud_cover
0,2013-01-01,Acton,Los Angeles County,2013,0,280.579740,0.000971,0.772771,0.154426,2.724188,0.116373,0.310085
1,2013-01-01,Adelanto,San Bernardino County,2013,0,280.279000,0.000429,1.000000,0.000000,2.767633,0.036946,0.279139
2,2013-01-01,Aguanga,Riverside County,2013,0,281.126500,0.000876,0.610029,0.389971,2.014808,0.187420,0.320447
3,2013-01-01,Ahwahnee,Madera County,2013,0,274.653780,0.001427,0.017045,0.982955,1.712203,0.444267,0.313981
4,2013-01-01,Alameda,Alameda County,2013,0,281.011230,0.000693,0.331802,0.112340,2.159738,0.323924,0.399976
...,...,...,...,...,...,...,...,...,...,...,...,...
37339,2020-12-01,Yosemite Lakes,Madera County,2020,0,282.082640,0.001421,0.552393,0.447607,1.653157,0.189242,0.395717
37340,2020-12-01,Yosemite Valley,Mariposa County,2020,0,270.825558,0.002801,0.511490,0.462053,2.012544,0.319939,0.421276
37341,2020-12-01,Yountville,Napa County,2020,0,282.980400,0.000956,0.033250,0.966750,1.802112,0.209016,0.474171
37342,2020-12-01,Yreka,Siskiyou County,2020,0,274.797665,0.002916,0.151813,0.846631,1.447212,0.408456,0.631844
37343,2020-12-01,Yucca Valley,San Bernardino County,2020,0,281.322690,0.000227,0.959318,0.040682,2.422085,0.014931,0.340284

In [14]:
cleaned_housing.to_csv("housingPopulationCountyCleaned.csv", index = False)

In [ ]:
cleaned_population.to_csv("cleaned_population.csv", index = False)